{% load wagtailcore_tags wagtailimages_tags %}

<div class="audio-block">
    {% if value.title %}
    <h4 class="audio-title">{{ value.title }}</h4>
    {% endif %}
    
    <div class="compact-player" 
        {% if value.audio_file %}data-url="{{ value.audio_file.url }}"{% endif %}
        {% if value.audio_url %}data-url="{{ value.audio_url }}"{% endif %}>
        <div class="play-button">
            <i class="fa-solid fa-play"></i>
        </div>
        <div class="progress-container">
            <div class="progress-bar"></div>
            <div class="position-indicator"></div>
        </div>
        <div class="time">0:00 / 0:00</div>
        <a href="{% if value.audio_file %}{{ value.audio_file.url }}{% else %}{{ value.audio_url }}{% endif %}" 
           download class="download-button">
            <i class="fa-solid fa-download"></i>
        </a>
    </div>
    
    {% if value.description %}
    <div class="description">
        {{ value.description|richtext }}
    </div>
    {% endif %}
</div> 