{% load wagtailcore_tags %}

<div class="audio-block">
    <h4 class="audio-title">{{ value.title }}</h4>
    <div class="compact-player" data-url="{{ value.audio_url }}">
        <div class="play-button">
            <i class="fa-solid fa-play"></i>
        </div>
        <div class="progress-container">
            <div class="progress-bar"></div>
            <div class="position-indicator"></div>
        </div>
        <div class="time">0:00 / 0:00</div>
        <a href="{{ value.audio_url }}" download class="download-button">
            <i class="fa-solid fa-download"></i>
        </a>
    </div>
    
    {% if value.description %}
    <div class="description">
        {{ value.description|richtext }}
    </div>
    {% endif %}
</div> 