{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block title %}الخطب | {{ block.super }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-8">
        <header class="page-header">
            <h1 class="page-title">{{ page.title }}</h1>
            <span class="pCounter">عدد المواد الموجودة : <span class="arabic-number">{{ items.paginator.count }}</span></span>
        </header>
        

        
        <div class="row">
            <div class="col-lg-12 rowWrap">
                {% for khutbah in items %}
                    <div class="rowFull">
                        <ul>
                            <li class="rowNo">{{ forloop.counter }}</li>
                            <li class="rowName">{{ khutbah.title }}</li>
                            <li class="rowDate">أضيف : <span class="arabic-date">{{ khutbah.date|date:"d F Y" }}</span></li>
                            <li class="rowShare">مشاركة :
                                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}khutbah/{{ khutbah.id }}/">
                                    <i class="fa-brands fa-facebook"></i>
                                </a>
                                <a target="_blank" href="https://twitter.com/home?status={{ request.build_absolute_uri }}khutbah/{{ khutbah.id }}/">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                            </li>
                            {% for block in khutbah.media_content %}
                                {% if block.block_type == 'audio' %}
                                    <li class="rowPlay">
                                        <div class="compact-player" data-url="{{ block.value.audio_url }}">
                                            <div class="play-button">
                                                <i class="fa-solid fa-play"></i>
                                            </div>
                                            <div class="progress-container">
                                                <div class="progress-bar"></div>
                                                <div class="position-indicator"></div>
                                            </div>
                                            <div class="time">0:00 / 0:00</div>
                                        </div>
                                    </li>
                                    <li class="rowDownload">
                                        <a class="inline-exclude" href="{{ block.value.audio_url }}" download>
                                            <i class="fa-solid fa-download"></i> تحميل
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% empty %}
                    <div class="rowFull">
                        <p>لا توجد خطب.</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        
        <!-- Pagination -->
        <div class="col-lg-12">
            {% if items.paginator.num_pages > 1 %}
                <div class="pagination">
                    {% if items.has_previous %}
                        <a href="?page={{ items.previous_page_number }}" class="prev">« السابق</a>
                    {% endif %}
                    
                    {% for p in items.paginator.page_range %}
                        {% if items.number == p %}
                            <span class="current arabic-number">{{ p }}</span>
                        {% elif p > items.number|add:'-3' and p < items.number|add:'3' %}
                            <a href="?page={{ p }}" class="arabic-number">{{ p }}</a>
                        {% endif %}
                    {% endfor %}
                    
                    {% if items.has_next %}
                        <a href="?page={{ items.next_page_number }}" class="next">التالي »</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
    
    <!-- Sidebar -->
    <div class="col-lg-4 col-md-4 hidden-xs">
        <div class="row">
            <div id="sidebar" class="secondary">
                <div class="col-lg-12">
                    <div class="bigwidget">
                        <header>
                            <h2>محتويات هامة</h2>
                        </header>
                        <div class="bigwidgetWrap">
                            <ul>
                                {% for item in featured_items %}
                                    <div class="rowFile">
                                        <ul>
                                            <li class="fileIcon"><i class="fa-solid fa-chevron-right"></i></li>
                                            <li class="fileName"><a href="/khutbah/{{ item.id }}/">{{ item.title }}</a></li>
                                            <li class="fileCat">{{ item.get_sermon_type_display }}</li>
                                            {% for block in item.media_content %}
                                                {% if block.block_type == 'audio' %}
                                                    <li class="filePlay">
                                                        <div class="compact-player" data-url="{{ block.value.audio_url }}">
                                                            <div class="play-button">
                                                                <i class="fa-solid fa-play"></i>
                                                            </div>
                                                            <div class="progress-container">
                                                                <div class="progress-bar"></div>
                                                                <div class="position-indicator"></div>
                                                            </div>
                                                            <div class="time">0:00 / 0:00</div>
                                                        </div>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    // Use a properly scoped initialization function
    (function() {
        function initAudioPlayers() {
            if (typeof ModernPlayer !== 'undefined') {
                ModernPlayer.init();
            } else if (typeof CompactPlayer !== 'undefined') {
                CompactPlayer.init();
            }
        }
        
        // Add event listener
        if (document.readyState === 'loading') {
            document.addEventListener('DOMContentLoaded', initAudioPlayers);
        } else {
            initAudioPlayers();
        }
    })();
</script>
{% endblock %} 