<div class="video-block">
    {% if self.title %}<h3>{{ self.title }}</h3>{% endif %}
    
    {% if self.video_file.file %}
    <video controls {% if self.thumbnail %}poster="{{ self.thumbnail.url }}"{% endif %}>
        <source src="{{ self.video_file.file.url }}" type="video/mp4">
        Your browser does not support the video element.
    </video>
    {% elif self.video_url %}
    <div class="video-embed">
        {% if "youtube" in self.video_url %}
            <iframe width="560" height="315" src="{{ self.video_url|replace:'watch?v=','embed/' }}" frameborder="0" allowfullscreen></iframe>
        {% else %}
            <video controls {% if self.thumbnail %}poster="{{ self.thumbnail.url }}"{% endif %}>
                <source src="{{ self.video_url }}" type="video/mp4">
                Your browser does not support the video element.
            </video>
        {% endif %}
    </div>
    {% endif %}
    
    {% if self.description %}
    <div class="description">
        {{ self.description }}
    </div>
    {% endif %}
</div> 