{% load static navigation_tags wagtailcore_tags wagtailimages_tags %}



<ul id="main-menu" class="menu">
    {% for menu_item in menu_items %}
    {% if menu_item.show_dropdown %}
        <li class="noneLink menu-item menu-item-has-children"><a><i class="{{ menu_item.icon_class }}"></i><span>{{ menu_item.title }}</span></a>
        </li>
        <ul class="sub-menu">
            {% top_menu_children parent=menu_item %}  
        </ul>
    {% else %}
        <li class="menu-item"><a href="{% pageurl menu_item %}"><i class="{{ menu_item.icon_class }}"></i><span>{{ menu_item.title }}</span></a></li>
    {% endif %}
{% endfor %} 
</ul>