{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block content %}
    <div class="container padbottom">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="page">
                    <div class="pageHeader">
                        <h2>{{ page.title }}</h2>
                    </div>

                    {% for block in page.article.media_content %}
                        {% if block.block_type == "text" %}
                        <p>{{ block.value|richtext }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}