<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="/">Islamic Content Archive</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" 
                    aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarMain">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    
                    <!-- Content Types Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="contentDropdown" role="button" 
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Content
                        </a>
                        <div class="dropdown-menu" aria-labelledby="contentDropdown">
                            <a class="dropdown-item" href="/khutbahs/">Khutbahs</a>
                            <a class="dropdown-item" href="/lectures/">Lectures</a>
                            <a class="dropdown-item" href="/commentaries/">Book Commentaries</a>
                            <a class="dropdown-item" href="/translations/">Translations</a>
                            <a class="dropdown-item" href="/recitations/">Recitations</a>
                            <a class="dropdown-item" href="/books/">Books</a>
                            <a class="dropdown-item" href="/articles/">Articles</a>
                        </div>
                    </li>
                    
                    <!-- About link -->
                    <li class="nav-item">
                        <a class="nav-link" href="/about/">About</a>
                    </li>
                    
                    <!-- Contact link -->
                    <li class="nav-item">
                        <a class="nav-link" href="/contact/">Contact</a>
                    </li>
                </ul>
                
                <!-- Search Form -->
                <form class="form-inline my-2 my-lg-0" action="/search/" method="get">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header> 