{% load static navigation_tags %}

    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="nmheader"><a href="/" id="index"><img src="{% static 'images/logo.png' %}" alt="Logo" /></a></h1>
                    <!-- <div class="socialHeader">
                        <ul>
                            <li><a href="#"><i class="fa-brands fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-twitter-square"></i></a></li>
                            <li><a href="/contact/"><i class="fa-solid fa-envelope"></i></a></li>
                        </ul>
                    </div> -->
                    <!-- {% include "includes/hijri_date.html" %} -->
                    <!-- {% include "includes/announcement.html" %} -->

                    <div id="navMenu" class="hidden-xs">
                        <div class="menu-container">
                            {% top_menu parent=parent calling_page=self %}                         
                        </div>
                    </div>
                    
                    <!-- <div id="mobileNav" class="visible-xs">
                        <select id="drop-nav" class="form-select">
                            <option value="/">الرئيسية</option>
                            <option value="/khutab/">الخطب</option>
                            <option value="/mohadarat/">المحاضرات</option>
                            <option value="/about/">عن الموقع</option>
                            <option value="/contact/">اتصل بنا</option>
                        </select>
                    </div> -->
                    
                    <!-- <span class="searchGlass">
                        <i class="fa-solid fa-search"></i>
                    </span> -->
                </div>
            </div>
        </div>
    </header>

