<div class="social-share px-4 py-3">
    <span>Share This</span>
    <span class="share-btns">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/kfupm" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
        <a href="https://twitter.com/intent/tweet?text={{ title }}&url={{ request.build_absolute_uri }}" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ title }}" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="mailto:?subject={{ title }}&body={{ request.build_absolute_uri }}" target="_blank"><i class="fa-solid fa-envelope"></i></a>
        <!-- <a id="CopyLinkButton"><i class="fa-solid fa-link"></i></a> -->
    </span>
</div>

<input type="text" id="pageUrl" value="{{ request.build_absolute_uri }}" readonly hidden>
